STRAPI_URL=http://host.docker.internal:1337

# SNS Link
PUBLIC_GITHUB_LINK=https://github.com/273Do
PUBLIC_DISCORD_LINK=https://discord.com/users/443987299622191105
PUBLIC_YOUTUBE_LINK=https://www.youtube.com/channel/UCh4boc9_9Dxiz9QP_VkwGww
PUBLIC_X_LINK=https://x.com/273Do
PUBLIC_QIITA_LINK=https://qiita.com/273Do
PUBLIC_NOTE_LINK=https://note.com/273do
PUBLIC_KOFI_LINK=https://ko-fi.com/273do

# Mail
MAIL_ADDRESS=hello.273dodev@gmail.com

# Copyright this year
PUBLIC_COPYRIGHT_THIS_YEAR=2026

# Error Illustrator Link
PUBLIC_ERROR_ILLUSTRATOR_LINK=https://x.com/sawaratsuki1004

# Error Illustrator Creator X Account
PUBLIC_ERROR_ILLUSTRATOR_CREATOR_X_ACCOUNT=@sawaratsuki1004

# GitHub Token
GITHUB_TOKEN=
