---
import ErrorContent from "@/components/layouts/ErrorContent.astro";
import Layouts from "@/components/layouts/Layouts.astro";
import WorkContent from "@/components/works/WorkContent.astro";
import { fetchWork, fetchWorks } from "@/lib/fetchContents";

export const getStaticPaths = async () => {
  const { works } = await fetchWorks();

  if (works)
    return works.map((work) => ({
      params: { slug: work.documentId },
    }));
};

const { slug } = Astro.params;
const { workDetails } = await fetchWork(slug!);

const hasError = !workDetails;
if (hasError) {
  Astro.response.status = 500;
}
---

<Layouts>
  {
    hasError ? (
      <div class="flex w-full items-center justify-center">
        <div class="size-2/5">
          <ErrorContent statusCode={500} />
        </div>
      </div>
    ) : (
      <div class="w-full">
        <div class="h-[3vh]" />
        <WorkContent workDetails={workDetails} />
      </div>
    )
  }
</Layouts>
