---
import { Image } from "astro:assets";

import Blinking from "../animations/Blinking.astro";

import notFoundImage from "@/assets/imgs/404.png";
import serverErrorImage from "@/assets/imgs/500.png";

const { statusCode } = Astro.props;

type Props = {
  /**
   * HTTPエラーステータスコード
   */
  statusCode: 404 | 500;
};

const image: Record<number, ImageMetadata> = {
  404: notFoundImage,
  500: serverErrorImage,
};
---

<Blinking
  class="flex h-[calc(100vh-36px)] flex-col items-center justify-center p-3"
>
  <Image
    src={image[statusCode]}
    alt="error_img"
    class="pointer-events-none max-w-xl"
  />
  <div class="flex">
    <p class="text-muted-foreground">illustration by</p>
    <a
      href={import.meta.env.PUBLIC_ERROR_ILLUSTRATOR_LINK}
      target="_blank"
      rel="noopener noreferrer"
      class="ml-1.5 font-mono text-primary"
    >
      {import.meta.env.PUBLIC_ERROR_ILLUSTRATOR_CREATOR_X_ACCOUNT}
    </a>
  </div>
</Blinking>
