---
import { Image } from "astro:assets";
import { Languages } from "lucide-react";

import { ThemeToggle } from "../ThemeToggle";
import PageNavigation from "./PageNavigation.astro";
import { Button } from "../ui/button";
---

<header
  class={`fixed z-100 flex h-9 w-full items-center justify-between px-3 sm:px-6 dark:sm:mix-blend-difference`}
>
  <a href="/">
    <Image
      class="dark:invert"
      src={"/svg/logo.svg"}
      alt="273* Logo"
      width={45}
      height={45}
      priority
    />
  </a>
  <PageNavigation />
  <div class="hidden sm:flex">
    <Button variant="ghost" size="icon-sm" className="cursor-pointer">
      <Languages className="size-4" />
    </Button>
    <ThemeToggle client:load />
  </div>
</header>
