---
import { PAGE_LINKS } from "@/consts";

const worksCount = 10;
const showcaseCount = 5;

const counts: Record<string, number> = {
  "/works": worksCount,
  "/showcase": showcaseCount,
};

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
---

{
  pathname !== "" && (
    <ul class="hidden gap-6 font-mono text-sm text-muted-foreground sm:flex">
      {PAGE_LINKS.filter((link) => link.href !== "/").map(({ href, title }) => {
        const count = counts[href];
        const isActive = pathname.startsWith(href.slice(1));

        return (
          <li class={isActive ? "text-foreground" : ""}>
            <a href={href} class="flex">
              <p class="hover:underline">{title}</p>
              {count && <p class="text-[10px]">({count})</p>}
            </a>
          </li>
        );
      })}
    </ul>
  )
}
