---
import Layouts from "@/layouts/Layouts.astro";
---

<!doctype html>
<html lang="en">
  <Layouts>
    <div
      class="flex h-[calc(100dvh-36px)] w-full items-end justify-center overflow-hidden"
    >
      <!-- <Suspense fallback={(<p>loading now</p>)}>
      <LogoThree />
      </Suspense>
      <TextReveal
      text="PORTFOLIO"
      className="translate-y-2 leading-none font-semibold md:translate-y-4 lg:translate-y-6"
      /> -->
    </div>
  </Layouts>
</html>
