---
import Layouts from "@/components/layouts/Layouts.astro";
---

<!doctype html>
<html lang="en">
  <Layouts>
    <div
      class="flex h-[calc(100dvh-36px)] w-full items-end justify-center overflow-hidden"
    >
    </div>
  </Layouts>
</html>
