---
import { IconMarquee } from "./IconMarquee";
import ProfileArticle from "../about/ProfileArticle.astro";

import type { WorkObj } from "@/lib/fetchContents";

type Props = Pick<WorkObj, "article" | "technologies">;

const { article, technologies } = Astro.props;

const technologyArray =
  technologies
    ?.map((tech) => tech.name)
    .filter((name): name is string => Boolean(name)) ?? [];
---

<article class="z-10 w-full max-w-4xl items-center space-y-4 text-foreground">
  <IconMarquee iconNameList={technologyArray} client:load />
  <div id="md">
    <hr
      class="pointer-events-none my-1 box-border border-[0.5px] border-dashed border-muted-foreground"
      style="margin-block: calc(var(--spacing) * 1)"
    />
  </div>

  <ProfileArticle description={article} />
  <div id="md">
    <hr
      class="pointer-events-none my-1 box-border border-[0.5px] border-dashed border-muted-foreground"
      style="margin-block: calc(var(--spacing) * 1)"
    />
  </div>
</article>
